USE [master]
GO
/****** Object:  Database [Train]    Script Date: 28.03.2025 22:07:13 ******/
CREATE DATABASE [Train]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Train', FILENAME = N'C:\Users\User\Desktop\вижуал\MSSQL16.MSSQLSERVER\MSSQL\DATA\Train.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Train_log', FILENAME = N'C:\Users\User\Desktop\вижуал\MSSQL16.MSSQLSERVER\MSSQL\DATA\Train_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Train].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Train]
GO
/****** Object:  Table [dbo].[Marshrut]    Script Date: 28.03.2025 22:07:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Marshrut](
	[ID_Route] [int] IDENTITY(1,1) NOT NULL,
	[ID_start_station] [int] NOT NULL,
	[ID_finish_station] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Route] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Passangers]    Script Date: 28.03.2025 22:07:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Passangers](
	[ID_Passanger] [int] IDENTITY(1,1) NOT NULL,
	[Name_Pas] [varchar](50) NOT NULL,
	[Fam_Pas] [varchar](50) NOT NULL,
	[Number_passport] [varchar](50) NULL,
	[Email] [varchar](100) NULL,
	[Phone] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Passanger] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Number_passport] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Schedule]    Script Date: 28.03.2025 22:07:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Schedule](
	[ID_Schedule] [int] IDENTITY(1,1) NOT NULL,
	[ID_Train] [int] NOT NULL,
	[ID_Route] [int] NOT NULL,
	[Date_Start] [date] NOT NULL,
	[Time_start] [time](7) NOT NULL,
	[Date_finish] [date] NOT NULL,
	[Time_finish] [time](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Schedule] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Seats]    Script Date: 28.03.2025 22:07:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Seats](
	[ID_Seat] [int] IDENTITY(1,1) NOT NULL,
	[ID_Wagon] [int] NOT NULL,
	[Number_seats] [varchar](10) NOT NULL,
	[Type_seats] [varchar](50) NULL,
	[IsAvailable] [bit] NULL,
	[Price] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Seat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stations]    Script Date: 28.03.2025 22:07:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stations](
	[ID_Station] [int] IDENTITY(1,1) NOT NULL,
	[Name_Station] [varchar](255) NOT NULL,
	[City] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Station] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Name_Station] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tickets]    Script Date: 28.03.2025 22:07:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tickets](
	[ID_Ticket] [int] IDENTITY(1,1) NOT NULL,
	[ID_Passanger] [int] NOT NULL,
	[ID_Seat] [int] NOT NULL,
	[ID_Schedule] [int] NOT NULL,
	[Date_buy] [datetime] NULL,
	[Stoimost] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Ticket] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Trains]    Script Date: 28.03.2025 22:07:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Trains](
	[ID_Train] [int] IDENTITY(1,1) NOT NULL,
	[Number_train] [varchar](20) NOT NULL,
	[ID_type_train] [int] NOT NULL,
	[Name_train] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Train] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Number_train] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Type_Trains]    Script Date: 28.03.2025 22:07:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Type_Trains](
	[ID_type_train] [int] IDENTITY(1,1) NOT NULL,
	[Name_type_train] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_type_train] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Name_type_train] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Type_Wagons]    Script Date: 28.03.2025 22:07:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Type_Wagons](
	[ID_type_wagon] [int] IDENTITY(1,1) NOT NULL,
	[Name_type_wagon] [varchar](50) NOT NULL,
	[Count_seats] [int] NOT NULL,
	[Base_price] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_type_wagon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Name_type_wagon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Wagons]    Script Date: 28.03.2025 22:07:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Wagons](
	[ID_Wagon] [int] IDENTITY(1,1) NOT NULL,
	[ID_Train] [int] NOT NULL,
	[ID_type_wagon] [int] NOT NULL,
	[Number_wagon] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Wagon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Seats] ADD  DEFAULT ((1)) FOR [IsAvailable]
GO
ALTER TABLE [dbo].[Tickets] ADD  DEFAULT (getdate()) FOR [Date_buy]
GO
ALTER TABLE [dbo].[Marshrut]  WITH CHECK ADD FOREIGN KEY([ID_finish_station])
REFERENCES [dbo].[Stations] ([ID_Station])
GO
ALTER TABLE [dbo].[Marshrut]  WITH CHECK ADD FOREIGN KEY([ID_start_station])
REFERENCES [dbo].[Stations] ([ID_Station])
GO
ALTER TABLE [dbo].[Schedule]  WITH CHECK ADD FOREIGN KEY([ID_Route])
REFERENCES [dbo].[Marshrut] ([ID_Route])
GO
ALTER TABLE [dbo].[Schedule]  WITH CHECK ADD FOREIGN KEY([ID_Train])
REFERENCES [dbo].[Trains] ([ID_Train])
GO
ALTER TABLE [dbo].[Seats]  WITH CHECK ADD FOREIGN KEY([ID_Wagon])
REFERENCES [dbo].[Wagons] ([ID_Wagon])
GO
ALTER TABLE [dbo].[Tickets]  WITH CHECK ADD FOREIGN KEY([ID_Passanger])
REFERENCES [dbo].[Passangers] ([ID_Passanger])
GO
ALTER TABLE [dbo].[Tickets]  WITH CHECK ADD FOREIGN KEY([ID_Schedule])
REFERENCES [dbo].[Schedule] ([ID_Schedule])
GO
ALTER TABLE [dbo].[Tickets]  WITH CHECK ADD FOREIGN KEY([ID_Seat])
REFERENCES [dbo].[Seats] ([ID_Seat])
GO
ALTER TABLE [dbo].[Trains]  WITH CHECK ADD FOREIGN KEY([ID_type_train])
REFERENCES [dbo].[Type_Trains] ([ID_type_train])
GO
ALTER TABLE [dbo].[Wagons]  WITH CHECK ADD FOREIGN KEY([ID_Train])
REFERENCES [dbo].[Trains] ([ID_Train])
GO
ALTER TABLE [dbo].[Wagons]  WITH CHECK ADD FOREIGN KEY([ID_type_wagon])
REFERENCES [dbo].[Type_Wagons] ([ID_type_wagon])
GO
USE [master]
GO
